.container {
  width: 1128px;
  margin: 0 auto;
    padding: 24px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* Відступи між елементами */
  list-style: none;
  padding: 0;
  justify-items: center; /* Центруємо елементи */
  margin: 0 auto;
}

.gallery-item {
  width: 360px; /* Фіксована ширина */
  height: 200px; /* Фіксована висота */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05); /* Збільшення при наведенні */
}

.gallery-image {
  width: 100%; /* Заповнює контейнер по ширині */
  height: 100%; /* Заповнює контейнер по висоті */
  object-fit: cover; /* Обрізка зображення за розмірами */
  border-radius: 10px;
}
